{% extends "homepage/homepage.html" %}


{% block nav %}
  <a href="{{ url_for('homepage')}}">Ongoing Classes</a>
  {% if loggedin %}
  <div class="user">
    <!-- <a style="color: white;">{{ welcome_msg }}</a> -->
    <form action="/logout">
      <input type="submit" value="Logout" />
    </form>
  </div>
  {% endif %}
{% endblock %}

{% block body %}

{% if archived %}
<main>
  <!--Archived classes-->
  <div class="archived-classes container-fluid">
    <h2>Archived Classes</h2>
  <div class="archive">
    <div class="form-wrapper">
    <form action="/actions" method="post">
      <select aria-label="Select an archived class" class="dropdown" name="class_id" id="archived">
        <option value="" selected disabled hidden>Select an archived class</option>
        {% for class in archived %}
        <option value="{{ class['class_id'] }}">
          {{ class['class_type'] }} #{{ class['class_id'] }} - {{ class['time_slot'] }} | {{
          class['location'] }} , {{ class['year'] }}
        </option>
        {% endfor %}
      </select>
    </div>
    <!--Action buttons-->
      <div class="button-container">
        <input type="hidden" name="archived" id="" value="1">
        <input title="Select class" aria-label="Select archived class" name="action" id="select-btn" type="submit" value="Select" />
        <span title="Unarchive" class="material-symbols-outlined">
          <input
            aria-label="Unarchive class"
            name="action"
            id="select-btn"
            type="submit"
            value="Unarchive"
          />
        </span>
      </div>
    </form>
  </div>
</div>

{% else %}
<h2>Archived Classes</h2>
  <p>There are no archived classes.</p>
  {% endif %}

</main>
{% endblock %}