{% extends "homepage/homepage.html" %}


{% block body %}

  <div class="search-filters">
    <h2>Archived Classes</h2>
    <input oninput="search()" class="search" autocomplete="off" autofocus placeholder="Search" type="search" value=""> 
    <div class="filters">
      <!--For location in locations-->
      <form action="filter/{{ location }}">
        <input type="hidden" name="{{ location }}" value="{{ location }}">
        <input type="submit" value="{{ location }}">
      </form>
      <!--For location in locations-->
    </div>
  </div>


  <!-- <ul></ul> -->
    <table class="table table-fluid">
      <thead>
        <tr>
          <th>Class Type</th>
          <th>Course</th>
          <th>Time Slot</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
{% endblock %}