{% extends "homepage/homepage.html" %} {% block body %}

<main class="container-fluid classes-main">
  <h2>Archived Classes</h2>
  {% if archived_classes %}
  <input
    oninput="search()"
    class="search-input"
    autocomplete="off"
    autofocus
    placeholder="Search for 'Class Type', 'Course', 'Time Slot', 'Location', 'Year'"
    ,
    type="search"
    value=""
  />

  <div class="container">
    <div class="pagination">
      {% if page > 1 %}
      <a
        class="prev-btn page-link"
        href="{{ url_for('list', page=page-1, class_id=class_id) }}"
        >Previous</a
      >
      {% endif %}
      <span class="page-link pages">Page {{ page }} of {{ total_pages }}</span>
      {% if page < total_pages %}
      <a
        aria-label="Next"
        class="next-btn page-link"
        href="{{ url_for('list', page=page+1, class_id=class_id) }}"
        >Next</a
      >
      {% endif %}
    </div>
    <table class="table-responsive table table-striped table-hover">
      <thead>
        <tr>
          <th>Class Type</th>
          <th class="col-md-2">Course</th>
          <th>Time Slot</th>
          <th>location</th>
          <th>Year</th>
          <th class="col-md-1"></th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      {% for class in archived_classes %}
      <tr>
        <td>{{ class['class_type'] }} #{{ class['class_id'] }}</td>
        <td>{{ class['course'] }}</td>
        <td>{{ class['time_slot'] }}</td>
        <td>{{ class['location'] }}</td>
        <td>{{ class['year'] }}</td>
        <td>
          <form action="/actions/select_archived_class" method="post">
            <input
              type="hidden"
              name="is_active_class"
              id=""
              value="{{ False }}"
            />
            <input
              name="class_id"
              type="hidden"
              value="{{ class['class_id'] }}"
            />
            <input
              title="Select class"
              aria-label="Select ongoing class"
              name="action"
              id="select-btn"
              type="submit"
              value="Select"
            />
          </form>
        </td>
        <td>
          <form action="/actions/unarchive" method="post">
            <input
              name="class_id"
              type="hidden"
              value="{{ class['class_id'] }}"
            />
            <span class="material-symbols-outlined"
              ><input
                title="Delete class"
                aria-label="Delete class"
                name="action"
                id="select-btn"
                type="submit"
                value="Unarchive"
            /></span>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>There are no archived classes.</p>
    <img
      class="container-fluid empty-class"
      src="{{ url_for('static', filename='img/empty-class.jpg') }}"
      alt="Picture depicting an empty classroom."
    />
    {% endif %}
  </div>
</main>
{% endblock %}
