/* --- Styling Variables ---*/
:root {
  --main-clr: #2E7D32;
  --main-hover-clr: #3fa544;
  --secondary-clr: #0288D1;
  --hover-clr: #0599e9;
  --accent-clr: #FFD54F;
  --bcg-clr: #FAFAFA;

  --color: #212121;
  --border-clr: #e0e0e0;

  --logo-ff: "EB Garamond"
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --- Body Styling ---*/
body {
  background-color: var(--bcg-clr);
  color: #212121;
  font-family: "Rubik";
  height: 100dvh;
  width: 100dvw;
}

/* --- Header Styling ---*/
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  text-decoration: none;
  font-family: var(--logo-ff);
  display: flex;
  align-items: center;
  gap: 4px;
}
.logo-container:hover {
  text-decoration: none;
}

.logo {
  height: 80px;
  width: 80px;
}

.green-text {
  color: var(--main-clr);
}

.gvu {
  text-decoration: none;
  color: var(--secondary-clr);
}

input[type="submit"] {
  background-color: var(--secondary-clr);
  color: #fff;
  border: none;
  padding: .5rem 1rem;
  border-radius: 4px;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--hover-clr);
}

/* --- Main Page Styling ---*/
main {
  border: 2px solid var(--border-clr);
  border-radius: 4px;
  padding: 1rem;
  margin: 0px auto;
  max-width: 80%;
  height: 80%;
  text-align: center;
}

ul {
  list-style: none;
}

/* --- Table styling --- */
table {
  margin-top: 1rem;
}

th:first-child {
  border-top-left-radius: 20px; 
}
th:last-child {
  border-top-right-radius: 20px; 
}

thead {
  background-color: var(--border-clr);
  border-top: none;
  font-size: 1.25rem;
  color: #000;
  text-align: center;
  width: 100%;
}

td, th {
  word-wrap: break-word;
}

tr {
  font-weight: 400;
}

#select-btn {
  padding: .25rem .5rem;
}
/* --- Students List Page --- */
.back-btn {
 margin: 2rem;
}

.add-btn {
  border: none;
  background-color: var(--main-clr);
  color: #fff;
  padding: .5rem 1rem;
  border-radius: 4px;
}
.add-btn:hover {
  cursor: pointer;
  background-color: var(--main-hover-clr);
}

/* #delete-btn {
  background-color: rgb(201, 2, 2);
} */

.options {
  display: flex;
  justify-content: space-between;
}

.student-options {
  display: flex;
  gap: 1rem;
}

.pagination {
  display: flex;
  gap: 10px;
}

.pages {
  color: var(--color);
}

#advance-btn {
  background: none;
  border: 1px solid var(--border-clr);
  border-radius: 0px;
  color: var(--color);
}