{% extends "layout.html" %} {% block body %}
<h1>Add a student</h1>

<form action="/confirm/add_student" method="post">
  <input type="hidden" name="class_id" value="{{ class_id }}" />
  <input type="hidden" name="page" value="{{ page }}" />

  <label for="name">Name</label>
  <input id="name" name="name" type="text" required autocomplete="off" />

  <label for="email">Email</label>
  <input id="email" name="email" type="text" required autocomplete="off" />

  <label for="phone">Phone</label>
  <input id="phone" name="phone" type="text" required autocomplete="off" />

  <label for="location">Location</label>
  <select name="location" id="location">
    <option value="{{ location }}">{{ location }}</option>
  </select>
  <label for="class-type">Class Type</label>
  <select name="class_type" id="class-type">
    <option value="{{ class_type }}">{{ class_type }}</option>
  </select>

  <input type="submit" value="Submit" />
</form>

{{ msg }} {% endblock %}
