{% extends "homepage/homepage.html" %} {% block body %}

<h1 class="page-title">Edit Student Info</h1>

<div class="form-wrapper">
  <form action="/confirm/edit" autocomplete="off" method="post">
    <input type="hidden" name="action" value="" />
    <input name="class_id" type="hidden" value="{{ class_id }}" />
    <input
      name="student_id"
      type="hidden"
      value="{{ student['student_id'] }}"
    />

    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        id="name"
        name="name"
        type="text"
        value="{{ student['name'] }}"
        autocomplete="off"
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        class="form-control"
        id="email"
        name="email"
        type="text"
        value="{{ student['email'] }}"
        autocomplete="off"
      />
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input
        class="form-control"
        id="phone"
        name="phone"
        type="text"
        value="{{ student['phone'] }}"
        autocomplete="off"
      />
    </div>

    <input type="submit" value="Confirm" />
  </form>
</div>

{{ msg }} {% endblock %}
