{% extends "homepage/homepage.html" %} 

{% block body %}

{% block header %}
  {{ super() }}
{% endblock %}


<main class="container-fluid">
<h1>Students List</h1>

<!--Go back to the homepage-->
<!-- {% block return %}
  {% if promotion_view %}
  <form action="/list" method="post">
    <input name="class_id" type="hidden" value="{{ class_id }}" />
    <input class="back-btn" type="submit" value="Go back">
  </form>
  {% else %}
<form action="/homepage" method="post">
  <input class="back-btn" type="submit" value="Go back">
</form>
  {% endif %}
{% endblock %} -->

<!-- Pagination buttons -->
<ul class="container">
  {% if students_per_page %}
  <div class="options">
    <div class="pagination">
      {% if page > 1 %}
        <a class="prev-btn page-link" href="{{ url_for('list', page=page-1, class_id=class_id) }}">Previous</a>
      {% endif %}
        <span class="page-link pages">Page {{ page }} of {{ total_pages }}</span>
      {% if page < total_pages %}
        <a class="next-btn page-link" href="{{ url_for('list', page=page+1, class_id=class_id) }}">Next</a>
      {% endif %}
      </div>

      <div class="student-options">
        {% if students|length < 24 %}
        <form action="/add_student" method="post">
          <input name="class_id" type="hidden" value="{{ class_id }}" />
          <input name="page" type="hidden" value="{{ page }}" />
          <button class="add-btn">Add</button>
        </form>
        {% endif %}


       <form action="/advance" method="post">
         <input name="class_id" type="hidden" value="{{ class_id }}" />
         <input type="submit" id="advance-btn" value="Advance to Next Stage">
       </form>
      </div>
  </div>
  
  <!--Table containing all students from a specific class-->
  <li>
    <table class="table-responsive table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-md-2">Name</th>
          <th>Email</th>
          <th class="col-md-3">Phone</th>
          <th>Location</th>
          <th class="col-md-2">Course</th>
          <th class="col-md-3">Class Type</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for student in students_per_page %}
        <tr>
          <td>{{ student['name'] }}</td>
          <td>{{ student['email'] }}</td>
          <td>{{ student['phone'] }}</td>
          <td>{{ student['location'] }}</td>
          <td>{{ student['course'] }}</td>
          <td>{{ student['class_type'] }}</td>
          <td>
            <form action="/edit_student" method="post">
              <input
                name="student_id"
                type="hidden"
                value="{{ student['student_id'] }}"
              />
              <input
                name="class_id"
                type="hidden"
                value="{{ student['class_id'] }}"
              />
              <span class="material-symbols-outlined">
                <input id="edit-btn" type="submit" value="Edit" name="Edit">
                </span>
            </form>
          </td>
          <td>
            <form action="/delete_student" method="post" onsubmit="return handleAction('deleteStudent')">
              <input
                name="student_id"
                type="hidden"
                value="{{ student['student_id'] }}"
              />
              <input name="class_id" type="hidden" value="{{ class_id }}" />
              <span class="material-symbols-outlined">
                <input id="delete-btn" type="submit" value="Delete">
                </span>
            </form>
          </td>
        </tr>
        {% endfor %}
        
        {% else %}
        <h5>There are currently no students in this class.</h5>
      </tbody>
    </table>
  </li>
  {% endif %}
</ul>

</main>

{% endblock %}
