{% extends "homepage/homepage.html" %} {% block body %}
<main class="container-fluid">
  <h1>Students List</h1>

  <!--Go back to the homepage-->
  <!-- {% block return %}
  {% if promotion_view %}
  <form action="/list" method="post">
    <input name="class_id" type="hidden" value="{{ class_id }}" />
    <input class="back-btn" type="submit" value="Go back">
  </form>
  {% else %}
<form action="/homepage" method="post">
  <input class="back-btn" type="submit" value="Go back">
</form>
  {% endif %}
{% endblock %} -->

  <!-- Pagination buttons -->
  <div class="container">
    {% if students_per_page %}
    <div class="options">
      <div class="pagination">
        {% if page > 1 %}
        <a
          class="prev-btn page-link"
          href="{{ url_for('list', page=page-1, class_id=class_id) }}"
          >Previous</a
        >
        {% endif %}
        <span class="page-link pages"
          >Page {{ page }} of {{ total_pages }}</span
        >
        {% if page < total_pages %}
        <a
          aria-label="Next"
          class="next-btn page-link"
          href="{{ url_for('list', page=page+1, class_id=class_id) }}"
          >Next</a
        >
        {% endif %}
      </div>

      <div class="student-options">
        {% if students|length < 24 %}
        <form action="/add_student" method="post">
          <input name="class_id" type="hidden" value="{{ class_id }}" />
          <input name="page" type="hidden" value="{{ page }}" />
          <button class="add-btn" title="Add a student">Add</button>
        </form>
        {% endif %}
        <form action="/advance" method="post">
          <input name="class_id" type="hidden" value="{{ class_id }}" />
          <input
            aria-label="Advance student"
            type="submit"
            id="advance-btn"
            value="Advance to Next Stage"
          />
        </form>
      </div>
    </div>

    <!--Table containing all students from a specific class-->
    <table class="table-responsive table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-md-3">Name</th>
          <th>Email</th>
          <th class="col-md-3">Phone</th>
          <th>Location</th>
          <th class="col-md-3">Course</th>
          <th class="col-md-3">Class Type</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for student in students_per_page %}
        <tr>
          <td>{{ student['name'] }}</td>
          <td>{{ student['email'] }}</td>
          <td>{{ student['phone'] }}</td>
          <td>{{ student['location'] }}</td>
          <td>{{ student['course'] }}</td>
          <td>{{ student['class_type'] }}</td>
          <td>
            <form action="/edit_student" method="post">
              <input
                name="student_id"
                type="hidden"
                value="{{ student['student_id'] }}"
              />
              <input name="class_id" type="hidden" value="{{ class_id }}" />
              <span title="Edit student" class="material-symbols-outlined">
                <input
                  aria-label="Edit student"
                  id="edit-btn"
                  type="submit"
                  value="Edit"
                  name="Edit"
                />
              </span>
            </form>
          </td>
          <td>
            <form
              action="/delete_student"
              method="post"
              onsubmit="return handleAction('deleteStudent')"
            >
              <input
                name="student_id"
                type="hidden"
                value="{{ student['student_id'] }}"
              />
              <input name="class_id" type="hidden" value="{{ class_id }}" />
              <span title="Delete student" class="material-symbols-outlined">
                <input
                  aria-label="Delete student"
                  s
                  id="delete-btn"
                  type="submit"
                  value="Delete"
                />
              </span>
            </form>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <!--When the class has no students-->
    <h5>There are currently no students in this class.</h5>

    <div class="add-students">
      <form action="/add_student" method="post">
        <input name="class_id" type="hidden" value="{{ class_id }}" />
        <input name="page" type="hidden" value="{{ page }}" />
        <button class="add-btn">Add</button>
      </form>

      <form
        action="/actions/import_data"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="class_id" value="{{ class_id }}" />
        <label for="import">Import data from a file:</label>
        <input type="file" name="import" id="import" accept=".csv" />
        <input type="submit" value="Import" />
      </form>
    </div>
    {% endif %}
  </div>
</main>

{% endblock %}
