{% extends "layout.html" %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block body %}


<main class="login-main">
  <div class="form-container">
    <h3 class="login-header">Log In</h3>
    <div class="form-content">
      <form action="/login" method="post">
        <div class="inputs">
        <input
          class="login-input"
          type="text"
          autofocus
          autocomplete="off"
          name="email"
          placeholder="Email"
          required
        />
        <input
          class="login-input"
          type="password"
          autofocus
          autocomplete="off"
          name="password"
          placeholder="Password"
          required
        />
      </div>
        <p class="error-message ">{{ error }}</p>
        <input id="login-btn" type="submit" value="Login" />
      </form>
    </div>
  </div>
</main>
{% endblock %}
