{% extends "layout.html" %}

{% block body %}

{% block header %}
<header class="container-fluid">
  <div>
    <a class="logo-container" href="{{ url_for('homepage') }}">
      <img class="logo" src="{{ url_for('static', filename='img/GVU.png') }}" alt="Green valley university logo">
      <h4 class="gvu"><span class="green-text">Green</span>ValleyUniversity</h4>
    </a>
  </div>

  <nav>
    <form action="/logout">
      <input type="submit" value="Logout">
    </form>
  </nav>
</header>

{% endblock %}
<main class="container">
<h2>Ongoing classes</h2>

{% if classes %}
<ul class="container">
  <li>
    <table class="container table table-striped table-hover">
      <thead >
        <tr>
          <th>Course</th>
          <th>Class Type</th>
          <th>Time Slot</th>
          <th>Location</th>
          <th>Year</th>
          </tr>
          </thead>
          <tbody>
        {% for class in classes %}
        <tr>
          <td class="test">{{ class['course'] }}</td>
          <td>{{ class['class_type'] }}</td>
          <td>{{ class['time_slot'] }}</td>
          <td>{{ class['location'] }}</td>
          <td>{{ class['year'] }}</td>
          <td>
            <form action="/student_list" method="post">
            <input name="class_id" type="hidden" value="{{ class['class_id'] }}">
            <input id="select-btn" type="submit" value="Select">
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </li>
</ul>

{% endif %}
<h2>Archived classes</h2>
</main>
{% endblock %}